<div>
    <h2 id="page-heading">
        <span jhiTranslate="engenhosSkolEstacaoApp.station.home.title">Stations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-station" [routerLink]="['/station/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="engenhosSkolEstacaoApp.station.home.createLabel">
            Create new Station
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="stations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="engenhosSkolEstacaoApp.station.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="engenhosSkolEstacaoApp.station.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="streetAddress"><span jhiTranslate="engenhosSkolEstacaoApp.station.streetAddress">Street Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="streetNumber"><span jhiTranslate="engenhosSkolEstacaoApp.station.streetNumber">Street Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="district"><span jhiTranslate="engenhosSkolEstacaoApp.station.district">District</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="city"><span jhiTranslate="engenhosSkolEstacaoApp.station.city">City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span jhiTranslate="engenhosSkolEstacaoApp.station.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="zipCode"><span jhiTranslate="engenhosSkolEstacaoApp.station.zipCode">Zip Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="country"><span jhiTranslate="engenhosSkolEstacaoApp.station.country">Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="slot.id"><span jhiTranslate="engenhosSkolEstacaoApp.station.slot">Slot</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let station of stations ;trackBy: trackId">
                <td><a [routerLink]="['/station', station.id, 'view' ]">{{station.id}}</a></td>
                <td>{{station.name}}</td>
                <td>{{station.code}}</td>
                <td>{{station.streetAddress}}</td>
                <td>{{station.streetNumber}}</td>
                <td>{{station.district}}</td>
                <td>{{station.city}}</td>
                <td>{{station.state}}</td>
                <td>{{station.zipCode}}</td>
                <td>{{station.country}}</td>
                <td>
                    <div *ngIf="station.slot">
                        <a [routerLink]="['../slot', station.slot?.id, 'view' ]" >{{station.slot?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/station', station.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/station', station.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'station', { outlets: { popup: station.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="stations && stations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
