<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-price-interval-heading" jhiTranslate="engenhosSkolEstacaoApp.priceInterval.home.createOrEditLabel">Create or edit a Price Interval</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!priceInterval.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="priceInterval.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="engenhosSkolEstacaoApp.priceInterval.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="priceInterval.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="engenhosSkolEstacaoApp.priceInterval.initialMinutes" for="field_initialMinutes">Initial Minutes</label>
                    <input type="number" class="form-control" name="initialMinutes" id="field_initialMinutes"
                        [(ngModel)]="priceInterval.initialMinutes" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="engenhosSkolEstacaoApp.priceInterval.finalMinutes" for="field_finalMinutes">Final Minutes</label>
                    <input type="number" class="form-control" name="finalMinutes" id="field_finalMinutes"
                        [(ngModel)]="priceInterval.finalMinutes" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="engenhosSkolEstacaoApp.priceInterval.priceTableItem" for="field_priceTableItem">Price Table Item</label>
                    <select class="form-control" id="field_priceTableItem" name="priceTableItem" [(ngModel)]="priceInterval.priceTableItem" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="priceTableItemOption.id === priceInterval.priceTableItem?.id ? priceInterval.priceTableItem : priceTableItemOption" *ngFor="let priceTableItemOption of pricetableitems; trackBy: trackPriceTableItemById">{{priceTableItemOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
